$bg-color: #f7f5f1;
$primary-color: #131217;
$color-hover: #f4af37;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 0.25em;
}
body::-webkit-scrollbar-track {
  background: #263040;
}
body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #f4af37;
}
body::-webkit-scrollbar-corner {
  background: transparent;
}

main {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  li {
    margin: 0 0.5rem;
    padding: 0.25rem;
    font-size: 1.2rem;
  }
}

.main--header {
  font-family: "Cormorant Garamond", serif;
  margin-top: 200px;
  text-transform: uppercase;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  &::after {
    content: "";
    background: rgba(215, 174, 122, 0.58);
    width: 120px;
    height: 3px;
  }
}

.action--menu {
  display: none;
}

@media (max-width: 1200px) {
  .menu__nav {
    display: none;
  }

  .action--menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .number {
    display: none;
  }
}
